{% extends "layouts/default.html" %}
{% load cms_tags %}

{% block whole_content %}
    <h1>Persons</h1>
    {% for person in object_list %}
        <div class="person-list">
            <h2>{{ person.name }}{% if person.alias %} - alias "{{ person.alias }}"{% endif %}</h2>
            <b>Teams:</b>
            <ul>
            {% for team in person.teams.all %}
                <li>{{ team.name }}</li>
            {% endfor %}
            </ul>
            <b>Position:</b> {{ person.position }}<br />
            <b>City:</b> {{ person.city }}<br />
            <b>WWW:</b> {{ person.www }}<br />
            <b>Hobbies:</b> {{ person.hobbies }}<br />
            <b>Quote:</b> {{ person.quote }}<br />
        </div>
    {% endfor %}
{% endblock %}