{% extends "layouts/default.html" %}
{% load cms_tags %}

{% block whole_content %}
    <h1>{{ object.name }}{% if object.alias %} - alias "{{ object.alias }}"{% endif %}</h1>
    {{ image }}
    <b>Teams:</b>
    <ul>
    {% for team in object.teams.all %}
        <li>{{ team.name }}</li>
    {% endfor %}
    </ul>
    <b>Position:</b> {{ object.position }}<br />
    <b>City:</b> {{ object.city }}<br />
    <b>WWW:</b> {{ object.www }}<br />
    <b>Hobbies:</b> {{ object.hobbies }}<br />
    <b>Quote:</b> {{ object.quote }}<br />
{% endblock %}