{% extends "layouts/sidebar_left.html" %}
{% load cms_tags sekizai_tags thumbnail cmspersonlist %}

{% block sidebar %}
    {% include "djangocms_personlist/team_filter.html" with filter_tag='team' set_filter=pk%}
{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/masonry.css">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
    {% endaddtoblock %}

    <h1>Unsere Teammitglieder</h1>
    <div id="masonry-loader">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div>
    <div id="masonry-container">
        {% for person in object_list %}
        <div class="masonry-item one-third{% for team in person.teams.all %} team-{{ team.pk }}{% endfor %}">
            <div class="masonry-item-image">
                <a href="{% persondetail_url pk=person.pk %}" data-toggle="modal" data-target="#modal-window">
                    <img src="
                    {% if person.image %}
                        {{ person.image|thumbnail_url:'masonry' }}
                    {% else %}
                        {{ person.get_image_fallback|thumbnail_url:'masonry' }}
                    {% endif %}" alt="{{ person.name }}">
                    <div class="masonry-item-title">{{ person.name }}</div>
                </a>
            </div>

            <div class="masonry-item-description">
                {% if person.teams.all.count > 0 %}
                    Team{% if person.teams.all.count > 1 %}s{% endif %}:
                    {% for team in person.teams.all %}
                        {{ team.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}<br />{% endif %}
                Position: {{ person.position }}
            </div>
        </div>
    {% endfor %}
    </div>
    <div id="masonry-no-content">
        <i class="fa fa-meh-o fa-5x fa-fw"></i> <span>Keine Inhalte gefunden!</span>
    </div>

    <!-- Modal Item -->
    <div class="modal" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center modal-lg">
            <div id="modal-loader">
                <i class="fa fa-spinner fa-spin fa-5x"></i>
            </div>

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h1 class="modal-title" id="modal-label"></h1>
                </div>
                <div id="modal-body" class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}